{{define "autoReport"}}
{{template "header" .}}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">自动化报告系统</h1>
        </div>
    </div>

    <div class="container">
        <form enctype="multipart/form-data" action="/autoReport" method="post" target="_blank">
            <div class="form-group row">
                <label for="type" class="col-md-2 col-form-label">
                    项目类型
                </label>
                <div class="col-md-10">
                    <select id="type" name="type" class="form-control form-control-lg">
                        <option value ="pre_pregnancy">PP100</option>
                        <option value ="multi_center">多中心</option>
                        <option value ="wgs">WGS</option>
                        <option value ="hw">海外</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="uploadfile" class="col-md-2 col-form-label">
                    输入文件
                </label>
                <div class="col-md-10">
                    <input type="file" class="form-control-file form-control-lg" id="uploadfile" name="uploadfile" />
                </div>
            </div>

            <input type="hidden" name="token" value="{{.Token}}"/>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
        </form>
        <div>
            {{if eq .Href ""}}
            {{else}}
            <div>
                <p><a href="{{.Href}}">报告下载</a></p>
            </div>
            {{end}}
            {{if eq .Err ""}}
            {{else}}
            <div>
                <p>Error:</p>
                <pre>{{.Err}}</pre>
            </div>
            {{end}}
            {{if eq .Message ""}}
            {{else}}
            <div>
                <p>Message:</p>
                <pre>{{.Message}}</pre>
            </div>
            {{end}}
        </div>
    </div>
</main>

<script>
    console.log({{.}})
    var select=document.getElementById("type")
    for(var i=0;i < select.length;i++){
        console.log(select[i].value)
        if(select[i].value=={{.Option}}){
            select.selectedIndex=i
        }
    }
</script>
{{template "footer" .}}
{{end}}