<html>
<head>
	<title>{{.Title}}</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">深圳耳聋实验信息样本录入</h1>
		</div>  
	</div>

	<div class="container">
		<select id="type" name="type" class="form-control form-control-lg">
			<option value ="deaf208">deaf208</option>
			<option value ="deaf159">deaf159</option>
			<option value ="deaf4">deaf4</option>
		</select>
	</div>
	
	<div class="form-group row">
		<label for="uploadfile" class="col-md-2 col-form-label">
			输入文件
		</label>
		<div class="col-md-10">
			<input type="file" class="form-control-file form-control-lg" id="uploadfile" name="uploadfile" />
		</div>
	</div>

	<input type="hidden" name="token" value="{{.Token}}"/>
	<button type="submit" class="btn btn-primary btn-block">Submit</button>
</body>
</html>
