<html>
<head>
    <title>{{.Title}}</title>
</head>
<body>
<fieldset style="width: 100px">
<legend>功能1:基因过滤</legend>
<form enctype="multipart/form-data" action="/filterExcel" method="post">	
	<input type="file" name="uploadfile"></input>
    <input type="hidden" name="token" value="{{.Token}}"></input>
    <br>
	<div>Tier1过滤基因(多个基因使用逗号分割):</div>
	<input type="text" class="row col-sm-12" style="width: 500px" id="gene" name="gene"></input>
	<br>
    <input type="submit" value="upload"></input>
</form>
</fieldset>
<br>
<fieldset style="width: 100px">
<legend>功能2:非OMIM基因过滤</legend>
<form enctype="multipart/form-data" action="/filterKDNY" method="post">
	<div>肾病基因集(多个样本使用换行符分割):</div>
	<input type="hidden" name="token" value="{{.Token}}"></input>
	<textarea class="row col-sm-12" rows="4" style="width: 500px" id="sample" name="sample" placeholder="sampleID"></textarea>
	<br>
	<input type="submit" value="upload"></input>
</form>
<form enctype="multipart/form-data" action="/filterInfertility" method="post">
	<div>不孕不育基因集(多个样本使用换行符分割):</div>
	<input type="hidden" name="token" value="{{.Token}}"></input>
	<textarea class="row col-sm-12" rows="4" style="width: 500px" id="sample" name="sample" placeholder="sampleID"></textarea>
	<br>
	<input type="submit" value="upload"></input>
</form>
</fieldset>
<br>
<fieldset style="width: 100px">
<legend>功能3:指定区域Bam提取</legend>
<form enctype="multipart/form-data" action="/BamExtractor" method="post">
	<div>输入：样本编号 区域 (一次一个样本一个区域):</div>
	<div>区域格式：chr 或 chr:start-stop</div>
	<input type="text" class="row col-sm-12" style="width: 500px" id="sample" name="sample" placeholder="sampleID"></input><br>
	<input type="text" class="row col-sm-12" style="width: 500px" id="position" name="position" placeholder="区域"></input>
	<br>
	<input type="submit" value="upload"></input>
</form>
</fieldset>
<br>
<fieldset style="width: 100px">
<legend>功能4:画ExomeDepth图</legend>
<form enctype="multipart/form-data" action="/ExomeDepthplot" method="post">
<div>输入：样本编号 基因(一次一个样本一个基因):</div>
<input type="text" class="row col-sm-12" style="width: 500px" id="sample" name="sample" placeholder="sampleID"></input><br>
<input type="text" class="row col-sm-12" style="width: 500px" id="gene" name="gene" placeholder="基因"></input>
<div>是否X染色体基因</div><select class="form-control" id="chr" name="chr" required="required">
<option value="A">常染色体</option>
<option value="X">X染色体</option>
</select>
<br>
<input type="submit" value="upload"></input>
</form>
</fieldset>
<a href="{{.Href}}">{{.Message}}</a>
<per>{{.Err}}</per>
</body>
</html>
