{{define "findfile"}}
{{template "header" .}}
<body>
	<div class="card-body container">
	<form enctype="multipart/form-data" action="/findfile" method="post">
		<div >
			<input type="hidden" name="token" id="token" value="{{.Token}}"></input>
			<label for="info" class="col-sm-10 col-form-label">样本编号(多个样本以以换行符分隔，请勿带空格，自动转化B/D/L等字符 例如用19B1234567 也可以找到19D1234567)<br></label>
			<textarea class="form-control" rows="5" cols="100" id="info" name="info" placeholder="sampleID"></textarea>
		</div>
		<div >
			<label for="QC" class="col-sm-10 col-form-label">QC过滤严谨度<br>strict: 全外样本 严格根据Q30不低于85,平均深度不低于100x,20x覆盖度不低于95%筛选合格样本，适用于全外新版样本. 其余panel样本根据30不低于85,平均深度不低于100x 的条件筛选合格样本<br>loose: 全外样本根据 Q30不低于80,平均深度不低于79x的旧版质控筛选, 其余panel样本 根据Q30不低于80，平均深度不低于99x 的让步接收条件 筛选合格样本<br></label>
			<select class="form-control" id="QC" name="QC">
				<option value="strict">strict</option>
				<option value="loose">loose</option>
			</select>
		</div>
		<div>
			<label class="col-sm-10 col-form-label">需要的文件类型</label><br>
			<label><input name="filetype" type="checkbox" value="vcf" />vcf</label><br>
			<label><input name="filetype" type="checkbox" value="Tier1" />Tier1</label><br>
			<label><input name="filetype" type="checkbox" value="excel" />excel(包括tier123旧版bed.gz，单病的excel表等 所有excel结果)</label><br>
			<label><input name="filetype" type="checkbox" value="bam" />BAM路径</label><br>
		</div>
		<button type="submit" class="btn btn-primary btn-block" Onclick="return login_check()">Submit</button>
	</form> 
	</div>
</body>
{{template "footer" .}}
{{end}}