{{define "header"}}
<!doctype html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
</head>
<style>
    html,
    body {
        overflow-x: hidden; /* Prevent scroll on narrow devices */
    }
    body {
        padding-top: 70px;
    }
</style>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/tab.js"></script>
<script src="/static/js/util.js"></script>
<script>
window.onload=function(){
	group = {{.Permission}}.split(',')
	for ( var i = 0; i <group.length; i++){
		if (document.getElementById(group[i])){
			document.getElementById(group[i]).className = '';
		}
	}
	if (document.getElementById("user").innerHTML != "未登录"){
		document.getElementById("login").text = '更换账户'
		document.getElementById("login2").text = '更换账户'
	}

}
</script>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Toolkit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="login" href="/login" >登录<span class="sr-only">登录</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
			<span  style="color:white;width:200px" id="user" name="user" align="right" >{{.User}}</span>
        </form>
    </div>
</nav>

{{end}}
