{{define "loadMO"}}
{{template "header" .}}
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">{{.Title}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="form-inline">
            <label for="searchNo">项目编号</label>
            <input type="text" id="searchNo" name="searchNo" class="form-control col-sm-6" placeholder="Search 项目编号"
                   aria-label="Search"/>
        </div>
        <div class="form-inline">
            <label for="searchName">项目名称</label>
            <input type="text" id="searchName" name="searchName" class="form-control col-sm-6" placeholder="Search 项目名称"
                   aria-label="Search"/>
        </div>
    </div>
    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>项目编号</th>
            <th>项目名称</th>
            <th>项目负责人</th>
            <th>"天津华大医学检验所有限公司
                A230(WMS领料)"
            </th>
            <th>"深圳华大临床检验中心
                A020(WMS领料)"
            </th>
            <th>"深圳华大基因股份有限公司
                A000(WMS领料)"
            </th>
            <th>"武汉华大医学检验所有限公司
                A080(WMS领料)"
            </th>
            <th>"武汉生物科技
                A100(线下领料)"
            </th>
        </tr>
        </thead>
    </table>
</main>

<script src="/static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js">
</script>
<script>
    $(document).ready(function() {
        // DataTable
        var table = $('#example').DataTable({
            "ajax":"/public/MO.json",
            "columns":[
                {"data":"项目编号"},
                {"data":"项目名称"},
                {"data":"项目负责人"},
                {"data":"天津华大医学检验所有限公司\nA230(WMS领料)"},
                {"data":"深圳华大临床检验中心\nA020(WMS领料)"},
                {"data":"深圳华大基因股份有限公司\nA000(WMS领料)"},
                {"data":"武汉华大医学检验所有限公司\nA080(WMS领料)"},
                {"data":"武汉生物科技\nA100(线下领料)"},
            ]
        });

        table.columns(0).search("MO").draw();
        $('#searchNo').on('keyup click',function() {
           table.columns(0).search("^"+$('#searchNo').val().trim()+"$",true).draw()
        });
        $('#searchName').on('keyup click',function() {
           table.columns(1).search("^"+$('#searchName').val().trim()+"$",true).draw()
        });
    });
</script>
{{template "footer" .}}
{{end}}