<html>
<script type="text/javascript">
    function getUrlParam(name){
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);  
        if (r != null) return unescape(r[2]); return null; 
    }
</script>
<body>
	<form enctype="multipart/form-data" action="/Manual_Trio" method="post">
		<div class="col-sm-4">
			<input type="hidden" name="token" id="token" value="{{.Token}}"></input>
			<label for="bamPath" class="col-sm-2 col-form-label">欢迎使用自助跑家系页面！<br><br>
			样本编号填写说明:<br>
			先证者放第一位!<br>
			多个样本以换行符分隔，前后请勿带空格，多个家系之间用空行分隔!也就是回车分隔！ <br>
			脚本将自动转化B/D/L等字符 例如用19B1234567 也可以找到19D1234567哦！<br>
			但是-1，-2，R这类后缀请去掉后再填入！  (例如输入19B1234567-1找不到19B1234567，但是输入19B1234567能找到19B1234567-1)<br></label>
			<textarea class="row col-sm-12" rows="5" cols="100" id="sampleID" name="sampleID" placeholder="sampleID"></textarea><br><br>
			<label>如家系成员含有质控不合格样本，请自行调整阈值，默认值（Q20：90；Q30：85；Depth：100；Cov_20X：95）</label><br><br>
			<label>Q20：</label><textarea style="resize:none;" rows="1" cols="3" id="Q20" name="Q20" >90</textarea> &nbsp
			<label>Q30：</label><textarea style="resize:none;" rows="1" cols="3" id="Q30" name="Q30" >85</textarea> &nbsp
			<label>Depth：</label><textarea style="resize:none;" rows="1" cols="3" id="DEPTH" name="DEPTH" >100</textarea> &nbsp
			<label>Cov_20X：</label><textarea style="resize:none;" rows="1" cols="3" id="COV20" name="COV20" >95</textarea><br>
		</div>
		<div class="col-sm-4">
		<input type="hidden" name="token" id="token" value="{{.Token}}"></input>
		<label for="bamPath" class="col-sm-2 col-form-label"><br>附加参数: 如果是经典家系写trio，如果是夫妻样本写couple，非经典家系就空着,不输入任何东西<br></label>
		<textarea class="row col-sm-12" rows="5" cols="100" id="info" name="info" placeholder="trio or couple or empty"></textarea>
		</div>
		<button type="submit" class="btn btn-primary btn-block">Submit</button>
	</form> 
</body>

</html>
