<html>
<head>
    <title>{{.Title}}</title>
</head>
<body>
<fieldset style="width: 100px">
<legend>单点注释</legend>
<form enctype="multipart/form-data" action="/WESanno" method="post">
    <input type="text" id="sampleID" name="sampleID" placeholder="sampleID"/>
    <br>
    <textarea class="row col-sm-12" rows="5" cols="100" id="info" name="info" placeholder="chromosome   start   stop    ref alt"></textarea>
    <br>
    <input type="submit" value="upload"/>
</form>
</fieldset>
<a href="{{.Href}}">{{.Message}}</a>
<br>
<fieldset style="width: 100px">
<legend>vcf注释</legend>
<form enctype="multipart/form-data" action="/vcfanno" method="post">
    <div>上传VCF文件：</div>
	<input type="file" name="uploadfile"></input>
    <br>
    <div>样本性别：</div>
    <select class="form-control" id="gender" name="gender" required="required">
	<option value="F">女</option>
	<option value="M">男</option>
	</select>
	<br>
    <input type="submit" value="upload"></input>
</form>
</fieldset>

</body>
</html>
